.header {
  background-color: cadetblue;
  padding: 20px 0;

  &__row {
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-family: var(--second-font);
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
  }
}
