.header {
  background-color: cadetblue;
  padding: 20px 0;

  &__row {
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-family: var(--second-font);
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
  }

  button {
    background-color: #efefef;
    border: none;
    padding: .5em 2em;
    font-family: var(--second-font);
    font-size: 15px;
    border-radius: 3px;
    color: #333;
    cursor: pointer;
    transition: box-shadow .1s;

    strong {
      margin-left: 0.4em;
    }

    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    }
  }
}
