<h1 mat-dialog-title>Your order:</h1>
<button class="close"
        mat-dialog-close
>+</button>

<div mat-dialog-content
     class="content"
>
  <main class="_col-flex">
    <app-cart-item
      *ngFor="let item of products; let i = index"
      [product]="item"
      [removeItem]="removeItem"
    >
    </app-cart-item>
  </main>

  <footer class="_flex">
    <h4>
      Total: {{0 | currency}}
    </h4>

    <button class="btn purchase"
            (click)="onPurchase()">
      Purchase
    </button>
  </footer>
</div>
