<div class="container">

  <div class="list-items _wrap" *ngIf="products.length; else noPriducts">
    <a class="item" *ngFor="let product of products;">
      <span class="item__header _flex">
        <span class="item__price">{{product.price | currency}}</span>
        <button
          class="item__add"
          (click)="addToCart(product)"
        >+</button>
      </span>

      <h3 class="item__title">{{product.title}}</h3>
      <span class="item__description">{{product.description}}</span>
    </a>
  </div>

  <ng-template #noPriducts>
    <div class="empty">
      <h2>There are no products available!</h2>
    </div>
  </ng-template>

</div>
