.list-items, .empty {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2em 0;
}

.item {
  display: flex;
  flex: 0 0 calc(100% / 3 - 2em / 3);
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background-color: #f7f7f7;
  padding: 2em 1.5em;
  margin-bottom: 1em;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0 0 2px rgba(0, 0, 0, .3);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
  }

  &__add {
    display: inline-block;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 36px;
    background-color: seagreen;
    color: #fff;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 3px rgba(20, 20, 20, .8);
    transition: transform .2s;

    &:hover {
      cursor: pointer;
      transform: rotate(90deg);
    }
  }

  &__price {
    font-weight: bold;
  }

  &__title {
    font-size: 18px;
    margin-bottom: 1em;
  }

  &__description {
    font-size: 14px;
  }
}
